body {
  margin: 0;
  font-family: Azeret Mono, monospace;
  font-optical-sizing: auto;
  overflow-x: hidden; /* Yatay kaydırmayı engeller */
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* Tüm ekranı kapsayacak şekilde minimum yükseklik ayarlandı */
  box-sizing: border-box; /* Padding'in genişlik ve yükseklik hesabına dahil edilmesi */
}

.contentContainer {
  flex: 1;
  overflow-y: auto; /* İçeriğin dikey kaydırılmasını sağlar */
  padding: 20px; /* Tüm cihazlar için yeterli boşluk bırakılır */
  box-sizing: border-box;
}

.window-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 20px); /* Tüm ekranı kapsayacak şekilde yükseklik ayarlandı */
  padding: 10px; /* İçerik için boşluk eklendi */
  box-sizing: border-box;
}

/* Responsive Styles */

/* Tablet ve Büyük Mobil Cihazlar (1024px ve daha küçük ekranlar) */
@media (max-width: 1024px) {
  .main {
    flex-direction: column; /* Tablet ve büyük mobil cihazlarda dikey hizalama */
  }

  .contentContainer {
    padding: 15px; /* Tablet cihazlar için padding azaltıldı */
    height: auto; /* İçerik yüksekliği otomatik */
  }

  .window-content {
    height: auto; /* İçeriğin sığması için yükseklik otomatik */
  }
}

/* Küçük Mobil Cihazlar (768px ve daha küçük ekranlar) */
@media (max-width: 768px) {
  .contentContainer {
    padding: 10px; /* Daha az padding */
  }

  .window-content {
    flex-direction: column; /* İçeriği daha iyi hizalamak için yön dikey */
    padding: 10px;
  }
}

/* Daha Küçük Mobil Cihazlar (480px ve daha küçük ekranlar) */
@media (max-width: 480px) {
  .contentContainer {
    padding: 5px; /* Çok küçük ekranlarda padding daha da azaltıldı */
  }

  .window-content {
    padding: 5px;
    text-align: center; /* İçeriği daha iyi hizalamak için merkez */
  }
}